<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="{308D510E-CABC-46D7-846A-5B650D0F1735}" Name="Kepi Crawler" Language="1033" Version="1.7.0.0" Manufacturer="ASK-Ware" UpgradeCode="58fe4b69-39a0-4cac-b7bc-ed23c1ac3036">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <!--<MediaTemplate />-->
    <Media Id="1" Cabinet="CabFileName.cab" EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Kepi Crawler by A.Schlack" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
            <Icon Id="KC_icon.ico" SourceFile="$(var.KepiCrawler.ProjectDir)\Resources\KepiCrawler.ico"/>
            <Property Id="ARPPRODUCTICON" Value="KC_icon.ico" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="KepiCrawler" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent">
                            <File Source="$(var.KepiCrawler.TargetPath)" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>